
footer {
    margin-top: 3rem;
    padding: 3rem;
}

.bi {
    display: inline-block;
    fill: currentColor;
    width: 1rem;
    height: 1rem;
}

.bi-person {
    display: inline-block;
    fill: currentColor;
    font-size: 1.5rem;
   
}

.bi-cart3 {
    display: inline-block;
    fill: currentColor;
    font-size: 1.25rem;
    
}